# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# ipython/jupyter notebooks
# *.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# MacOS
*.DS_Store

# Pycharm editor settings
.idea

# VSCode editor settings
.vscode

# project-relevant
imgui.ini

# directories that should be ignored in general
# but can be excluded explicitly
tmp/
/data/*
demos/
videos/

# testing
.coverage*
htmlcov/

mani_skill2_real2sim/assets/descriptions/g1_description
mani_skill2_real2sim/assets/descriptions/allegro_hand_description
